[submodule "app/XScreenSaver.js"]
	path = app/XScreenSaver.js
	url = git@github.com:noiach/XScreenSaver-js.git
[submodule "app/rnutjs"]
	path = app/rnutjs
	url = https://github.com/noiach/rPeANUt-js.git
